/* RESET */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* GENERAL */

body {
  background-color: #fafafa;
  color: #4d4f62;
  font-family: "Poppins", sans-serif;
  font-size: 0.8125rem;
  display: grid;
  place-content: center;
  padding: 5.31rem 2rem 4.88rem 2rem;
}

@media (min-width: 48rem) {
  body {
    padding: 5rem 2rem 5rem 2rem;
  }
}

/* HEADER */

header {
  text-align: center;
  margin: 0 auto 4.75rem auto;
}

@media (min-width: 48rem) {
  header {
    max-width: 33.75rem;
    margin-bottom: 4rem;
  }
}

.header__title {
  font-size: 1.5rem;
  font-weight: 275;
  letter-spacing: 0.01044rem;
}

@media (min-width: 48rem) {
  .header__title {
    font-size: 2.25rem;
    letter-spacing: 0.01563rem;
  }
}

.header__subtitle {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.01044rem;
  margin-bottom: 0.81rem;
}

@media (min-width: 48rem) {
  .header__subtitle {
    font-size: 2.25rem;
    letter-spacing: 0.01563rem;
  }
}

.header__text {
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  letter-spacing: 0.0065rem;
  opacity: 0.8;
}

/* MAIN */

.main__cards {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  list-style: none;
}

@media (min-width: 48rem) {
  .main__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "supervisor team-builder calculator"
      "supervisor karma calculator";
    align-items: center;
    gap: 1.88rem;
  }
}

.card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
  padding: 1.75rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-0.25rem);
}

@media (min-width: 48rem) {
  .card {
    padding: 2rem;
  }
}

.card__title {
  font-size: 1.25rem;
  margin-bottom: 0.06rem;
}

@media (min-width: 48rem) {
  .card__title {
    margin-bottom: 0.38rem;
  }
}

.card__text {
  line-height: 1.4375rem;
  letter-spacing: 0.00563rem;
  opacity: 0.8;
  margin-bottom: 2.06rem;
}

@media (min-width: 48rem) {
  .card__text {
    max-width: 17.875rem;
    margin-bottom: 2.5rem;
  }
}

.card__icon {
  align-self: flex-end;
}

.card--supervisor {
  border-top: 0.222rem solid #44d3d2;
}

@media (min-width: 48rem) {
  .card--supervisor {
    grid-area: supervisor;
    border-top: 0.25rem solid #44d3d2;
  }
}

.card--team-builder {
  border-top: 0.222rem solid #ea5454;
}

@media (min-width: 48rem) {
  .card--team-builder {
    grid-area: team-builder;
    border-top: 0.25rem solid #ea5454;
  }
}

.card--karma {
  border-top: 0.222rem solid #fcae4a;
}

@media (min-width: 48rem) {
  .card--karma {
    grid-area: karma;
    border-top: 0.25rem solid #fcae4a;
  }
}

.card--calculator {
  border-top: 0.222rem solid #549ef2;
}

@media (min-width: 48rem) {
  .card--calculator {
    grid-area: calculator;
    border-top: 0.25rem solid #549ef2;
  }
}
